
/* Footer.css */

.footer {
    background: url('../assets/background.png') no-repeat center center;
    background-size: cover;
    padding: 20px 0;
    color: white;
}

.footer-content {
    background-color: rgba(146, 0, 0, 0.76); /* 76% opacity */
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-content.mobile {
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.footer-subscribe {
    text-align: center;
}

.footer-subscribe p {
    margin: 0;
    font-family: Poppins, sans-serif;
    font-size: 2rem;
}

.footer-subscribe span {
    display: block;
    font-size: 2rem;
    background: linear-gradient(90deg, #CA0505, #F4F8ED);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.footer-subscribe input {
    padding: 10px;
    margin-top: 10px;
    margin-right: 5px;
    border: none;
    border-radius: 4px;
    width: 180px;
}

.footer-subscribe button {
    position: relative;
    width: 100px;
    top: 1px;
    padding: 10px 20px;
    margin-left: 0px;
    background-color: white;
    color: #FF4B4B;
    border: none;
    box-sizing: border-box;
    border-radius: 4px;
    cursor: pointer;
}

.footer-logo img {
    width: 200px; /* Adjust as needed */
    height: auto;
}

.footer-bottom {
    background-color: rgba(146, 0, 0, 0.82); /* 82% opacity */
    text-align: center;
    padding: 20px;
}

.footer-bottom.mobile img {
    max-width: 150px;
    margin-bottom: 20px;
}

.footer-bottom p {
    margin: 5px 0;
}

.footer-subscribe button{
    font-family: Poppins, sans-serif;
    font-size: 1rem;

}

.footer-content.mobile button{
    position: relative;
    font-family: Poppins, sans-serif;
    font-size: 0.6rem;
    width: 80px;
    top: 1px;
    padding: 10px 20px;
    margin-left: 0px;
    background-color: white;
    color: #FF4B4B;
    border: none;
    box-sizing: border-box;
    border-radius: 4px;
    cursor: pointer;

}
.footer-content.mobile input{
    padding: 10px;
    box-sizing: border-box;
    margin-top: 10px;
    border: none;
    border-radius: 4px;
    width: 90px;

}

