.form {
    background-color: rgba(255, 75, 75, 0.8); /* Semi-transparent background */
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: #fff;
    width: 60%;  /* Adjusted width to make the form more compact */
    margin: auto;
    align-items: center;  /* Center the form elements */
    margin-bottom: 100px;
}

.form-group {
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 10px;
    color: #fff;
    border: 1px solid white;  /* White border */
    width: 100%;  /* Make the group take the full width of the form */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;  /* Center the text inside the form-group */
}

.form-group label {
    margin-bottom: 5px;
}

.form-group input,
.form-group select,
.form-group textarea,
.form-group .color-picker {
    width: 80%;  /* Reduced width to make the inputs smaller */
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-bottom: 10px;
    text-align: center;  /* Center the text inside the inputs */
    max-width: 100%;
}

.form-buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;  /* Ensure the buttons take full width */
}

.form-buttons .prev-button,
.form-buttons .next-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: white;
    cursor: pointer;
}

.form-buttons .prev-button:hover,
.form-buttons .next-button:hover {
    background-color: #555;
}
